body
    {
    background-color:#AACCFF;
    }

img
    {
        margin-left:-20px;
    }
    
.navbar
    {
    background-color:#6680C9;
    text-transform:uppercase;
    padding-left:15px;
    border:none;
    }
    
b
    {
        color:black;
        font-family:Verdana;
        font-size:15px;
        letter-spacing:-1px;
    }
    
li.option
    {
        padding-left:15px;
        padding-right:15px;
    }
    
li.option:hover
    {
        background-color:#3C67B0;
    }
a.pull-left
    {
        margin-top:-10px;
        margin-bottom:-15px;
    }